/* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

/* Navigation styles */
nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Button styles */
button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Form styles */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Map styles */
.map-container {
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}

/* Report button styles */
.report-button {
  margin-top: 20px;
}

/* Status Page styles */
.status-table {
  width: 100%;
  border-collapse: collapse;
}

.status-table th,
.status-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.status-table th {
  background-color: #007bff;
  color: #fff;
}

.status-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.status-table tr:hover {
  background-color: #ddd;
}